node_modules
**/node_modules
**/dist
**/.next
**/build
backend/uploads
*.log
.env
.env.local
.git
web
mobile
accueil_colismonde
accueil_et_flux_colismonde
confirmation_de_paiement_colismonde
d_tails_de_l_envoi_colismonde
d_tails_du_trajet_colismonde
messagerie_colismonde
profil_colismonde
r_capitulatif_du_paiement_colismonde
rechercher_colismonde
suivi_de_livraison_colismonde
voyageur_de_colis
